#logo-container {
    text-align: center;
    margin-top: 50px;
}

.logo {
    width: 150px; /* Tamaño del logo */
    height: auto; /* Mantener proporciones */
    display: block; /* Asegurar que se centre correctamente */
    margin: 0 auto; /* Centrar horizontalmente */
}
